/**BASIC*/
* { margin:0;padding:0;
font-family: arial;
font-size:14px;
color:#333;
}
body {
	background: #14395C;
}
h2 {
	font-size:20px;
}
.clearfix:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
#wrapper {
	margin: 0 auto;
	width: 900px;
	padding: 5px;
	background: white;
	-webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.74);
	box-shadow:         0px 0px 15px rgba(50, 50, 50, 0.74);	
	
}
/**END BASIC*/

/*HEADER*/

.live_view {
	margin:10px;
	position:relative;
	
}
.logo{
	text-align: center;
}
div.langbar {
	height: 45px;
}
ul.lang_list {float:right;}
ul.lang_list li {display:inline;
	margin:0;
	padding:0;
}
ul.lang_list li a:hover{
	background:#ddd;
}
ul.lang_list li a{
	text-decoration: none;
	padding: 10px;
	background: #EBEBEB;
	border: 1px solid #Ccc;
}
/*END HEADER*/

/*BODY*/
div.navibar {
	text-align: center;
}
div.navibar ul{}
div.navibar ul li{display: inline;}
div.navibar ul li a:hover{
	text-decoration: underline;
}
div.navibar ul li a{
	text-decoration: none;
	padding: 10px;
}

/*END BODY*/